<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="tests.ShoppingCartPageTest"/>
      <class name="tests.MyAccountTest"/>
      <class name="tests.SideFilterTest"/>
      <class name="tests.BaseTest"/>
      <class name="tests.MyWishListTest"/>
      <class name="tests.ProductPageTest"/>
      <class name="tests.AddressBookTest"/>
      <class name="tests.ShoppingCartDialogTest"/>
      <class name="tests.CustomerLoginTest"/>
      <class name="tests.BuyFullCycleTest"/>
      <class name="tests.FilterAndSortTest"/>
      <class name="tests.SocialMediaTest"/>
      <class name="tests.SearchTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
